@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2B2D42;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2D42;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.log-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 445px;
  margin: 0 auto;
  background: #FDF0D5;
  color: #2B2D42;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.log-in-image {
  margin-bottom: 20px;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.log-in h2 {
  margin-bottom: 20px;
}

.log-in form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.log-in label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.log-in input[type="text"],  .log-in input[type="password"] {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.log-in input[type="submit"] {
  text-align: center;
  background-color: #f9b234;
  color: #2B2D42;
  border-radius: 10px;
  padding: 6px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}

.log-in input[type="submit"]:hover {
  background-color: #f79726;
}